.redItem {
    color: red;
}
.wrapper {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px darkgray dotted;
}
.removeButton {
    margin: 0 16px 0 auto;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}
.strikethrough {
    text-decoration: line-through;
}
.checkbox {
    margin: 16px;
}